.categoryItemName{
  position: absolute;
  top: 18px;
  left: 16px;
  color: white;
}
.logo { 
  width: 300px; 
  height: 60px;   
}
.login-bg-clr{
  background-color: darkblue;
  color: white;
}
.login-box-clr{
  background-color: white ;
}
.inputBox{
  height: 60px;
}